a {
    margin-right: 1rem;
}

.jumbotron {
    padding: 1rem;
}

div li {
    list-style-type: none;
}


body {
    padding-top: 50px;

}
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 4px 15px;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.card-img {
    max-height: 275px;
}

.container-fluid {
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 0px ;
    padding-right: 2em ;
    margin-bottom: 2rem;
}

.sticky-top {
    top: 2rem;
}

img {
    min-height: 100%;
}

.carousel-indicators {
    position: absolute;
    bottom: -20px;
    }

.list-group {
    margin-top: 1rem;
}
